@using WheelsMarket.Data.Models
@model WheelsMarket.Web.ViewModels.HomeViewModels.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}
<div class="hero" id="highlighted">
    <div class="container">
        <fieldset id="addNewAddParameters">
            <div class="row">
                <div class="col-xs-2">
                    <label>Диаметър</label>
                    <select class="form-control" id="diameter">
                        <option selected="">Избери</option>
                        <option value="8">8</option>
                        <option value="13">13"</option>
                        <option value="14">14"</option>
                        <option value="15">15"</option>
                        <option value="16">16"</option>
                        <option value="17">17"</option>
                        <option value="18">18"</option>
                        <option value="19">19"</option>
                        <option value="20">20"</option>
                        <option value="21">21"</option>
                        <option value="22">22"</option>
                        <option value="23">23"</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <label>Болтове бр.</label>
                    <select class="form-control" id="boltsCount">
                        <option selected="">Избери</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <label>Междуболт.Разстяние</label>
                    <select class="form-control">
                        <option value="">Избери</option>
                        <option value="98">98</option>
                        <option value="100">100</option>
                        <option value="105">105</option>
                        <option value="108">108</option>
                        <option value="110">110</option>
                        <option value="112">112</option>
                        <option value="114">114</option>
                        <option value="114.3">114.3</option>
                        <option value="115">115</option>
                        <option value="118">118</option>
                        <option value="120">120</option>
                        <option value="120.65">120.65</option>
                        <option value="125">125</option>
                        <option value="127">127</option>
                        <option value="130">130</option>
                        <option value="135">135</option>
                        <option value="139">139</option>
                        <option value="139.7">139.7</option>
                        <option value="150">150</option>
                        <option value="160">160</option>
                        <option value="165">165</option>
                        <option value="205">205</option>
                        <option value="225">225</option>
                        <option value="275">275</option>
                        <option value="281">281</option>
                        <option value="335">335</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-2">
                    <label>Офсет(ET)</label>
                    <select class="form-control" id="ofset(ET)">
                        <option value="">Избери</option>
                        <option value="-35">-35</option>
                        <option value="-32">-32</option>
                        <option value="-30">-30</option>
                        <option value="-25">-25</option>
                        <option value="-24">-24</option>
                        <option value="-23">-23</option>
                        <option value="-22">-22</option>
                        <option value="-21">-21</option>
                        <option value="-20">-20</option>
                        <option value="-19">-19</option>
                        <option value="-18">-18</option>
                        <option value="-17">-17</option>
                        <option value="-16">-16</option>
                        <option value="-15">-15</option>
                        <option value="-14">-14</option>
                        <option value="-13">-13</option>
                        <option value="-12">-12</option>
                        <option value="-11">-11</option>
                        <option value="-10">-10</option>
                        <option value="-9">-9</option>
                        <option value="-8">-8</option>
                        <option value="-7">-7</option>
                        <option value="-6">-6</option>
                        <option value="-5">-5</option>
                        <option value="-4">-4</option>
                        <option value="-3">-3</option>
                        <option value="-2">-2</option>
                        <option value="-1">-1</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="20.5">20.5</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="23.5">23.5</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="31.5">31.5</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="34.5">34.5</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="36.5">36.5</option>
                        <option value="37">37</option>
                        <option value="37.5">37.5</option>
                        <option value="38">38</option>
                        <option value="38.5">38.5</option>
                        <option value="39">39</option>
                        <option value="39.5">39.5</option>
                        <option value="40">40</option>
                        <option value="40.5">40.5</option>
                        <option value="41">41</option>
                        <option value="41.5">41.5</option>
                        <option value="42">42</option>
                        <option value="42.5">42.5</option>
                        <option value="43">43</option>
                        <option value="43.5">43.5</option>
                        <option value="44">44</option>
                        <option value="44.5">44.5</option>
                        <option value="45">45</option>
                        <option value="45.5">45.5</option>
                        <option value="46">46</option>
                        <option value="46.5">46.5</option>
                        <option value="47">47</option>
                        <option value="47.5">47.5</option>
                        <option value="48">48</option>
                        <option value="48.5">48.5</option>
                        <option value="49">49</option>
                        <option value="49.5">49.5</option>
                        <option value="50">50</option>
                        <option value="50.5">50.5</option>
                        <option value="51">51</option>
                        <option value="52">52</option>
                        <option value="52.5">52.5</option>
                        <option value="53">53</option>
                        <option value="54">54</option>
                        <option value="55">55</option>
                        <option value="55.5">55.5</option>
                        <option value="56">56</option>
                        <option value="56.4">56.4</option>
                        <option value="57">57</option>
                        <option value="58">58</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                        <option value="61">61</option>
                        <option value="62">62</option>
                        <option value="63">63</option>
                        <option value="64">64</option>
                        <option value="65">65</option>
                        <option value="66">66</option>
                        <option value="67">67</option>
                        <option value="68">68</option>
                        <option value="69">69</option>
                        <option value="70">70</option>
                        <option value="71">71</option>
                        <option value="74">74</option>
                        <option value="75">75</option>
                        <option value="76">76</option>
                        <option value="77">77</option>
                        <option value="79">79</option>
                        <option value="80">80</option>
                        <option value="83">83</option>
                        <option value="85">85</option>
                        <option value="87">87</option>
                        <option value="88">88</option>
                        <option value="90">90</option>
                        <option value="94">94</option>
                        <option value="132">132</option>
                        <option value="106.5">106.5</option>
                        <option value="107">107</option>
                        <option value="108">108</option>
                        <option value="109">109</option>
                        <option value="109.5">109.5</option>
                        <option value="110">110</option>
                        <option value="121.5">121.5</option>
                        <option value="124">124</option>
                    </select>
                </div>

                <div class="col-xs-2">
                    <label>Центр. Отвор</label>
                    <select class="form-control" id="centralOpening">
                        <option value="" selected="selected">Избери</option>
                        <option value="100">100</option>
                        <option value="100.1">100.1</option>
                        <option value="106">106</option>
                        <option value="106.1">106.1</option>
                        <option value="106.2">106.2</option>
                        <option value="108">108</option>
                        <option value="108.3">108.3</option>
                        <option value="108.6">108.6</option>
                        <option value="110">110</option>
                        <option value="110.1">110.1</option>
                        <option value="110.2">110.2</option>
                        <option value="110.3">110.3</option>
                        <option value="110.5">110.5</option>
                        <option value="110.6">110.6</option>
                        <option value="111">111</option>
                        <option value="111.6">111.6</option>
                        <option value="112">112</option>
                        <option value="114">114</option>
                        <option value="116.1">116.1</option>
                        <option value="130.1">130.1</option>
                        <option value="161">161</option>
                        <option value=">54">54</option>
                        <option value="54.1">54.1</option>
                        <option value="56.1">56.1</option>
                        <option value="56.5">56.5</option>
                        <option value="56.6">56.6</option>
                        <option value="57">57</option>
                        <option value="57.06">57.06</option>
                        <option value="57.1">57.1</option>
                        <option value="58">58</option>
                        <option value="58.1">58.1</option>
                        <option value="59">59</option>
                        <option value="60">60</option>
                        <option value="60.06">60.06</option>
                        <option value="60.1">60.1</option>
                        <option value="63">63</option>
                        <option value="63.1">63.1</option>
                        <option value="63.3">63.3</option>
                        <option value="63.4">63.4</option>
                        <option value="64">64</option>
                        <option value="64.1">64.1</option>
                        <option value="64.2">64.2</option>
                        <option value="65">65</option>
                        <option value="65.06">65.06</option>
                        <option value="65.1">65.1</option>
                        <option value="395">66</option>
                        <option value="606">66.1</option>
                        <option value="1357">66.4</option>
                        <option value="1265">66.45</option>
                        <option value="955">66.46</option>
                        <option value="349">66.5</option>
                        <option value="440">66.56</option>
                        <option value="401">66.6</option>
                        <option value="870">66.7</option>
                        <option value="354">67</option>
                        <option value="426">67.1</option>
                        <option value="441">67.2</option>
                        <option value="817">68</option>
                        <option value="1449">69.1</option>
                        <option value="384">70</option>
                        <option value="837">70.1</option>
                        <option value="836">70.2</option>
                        <option value="852">70.3</option>
                        <option value="881">70.4</option>
                        <option value="1034">70.6</option>
                        <option value="1368">70.7</option>
                        <option value="371">71</option>
                        <option value="839">71.1</option>
                        <option value="841">71.5</option>
                        <option value="1266">71.56</option>
                        <option value="405">71.6</option>
                        <option value="360">72</option>
                        <option value="1199">72.2</option>
                        <option value="846">72.5</option>
                        <option value="953">72.56</option>
                        <option value="402">72.6</option>
                        <option value="410">73</option>
                        <option value="415">73.1</option>
                        <option value="413">74</option>
                        <option value="400">74.1</option>
                        <option value="1276">74.56</option>
                        <option value="406">75</option>
                        <option value="595">75.1</option>
                        <option value="376">76</option>
                        <option value="442">76.1</option>
                        <option value="842">78.1</option>
                        <option value="1402">79.55</option>
                        <option value="928">82</option>
                        <option value="392">84</option>
                        <option value="866">84.1</option>
                        <option value="428">89</option>
                        <option value="883">89.1</option>
                        <option value="1330">92.3</option>
                        <option value="885">93.1</option>
                        <option value="1018">98.5</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <label>Ширина</label>
                    <select select class="form-control" id="width">
                        <option value="">Избери</option>
                        <option value="2.5">2.5</option>
                        <option value="3.5">3.5</option>
                        <option value="4">4</option>
                        <option value="4.5">4.5</option>
                        <option value="5">5</option>
                        <option value="5.5">5.5</option>
                        <option value="6">6</option>
                        <option value="6.5">6.5</option>
                        <option value="7">7</option>
                        <option value="7.5">7.5</option>
                        <option value="8">8</option>
                        <option value="8.5">8.5</option>
                        <option value="9">9</option>
                        <option value="9.5">9.5</option>
                        <option value="10">10</option>
                        <option value="10.5">10.5</option>
                        <option value="11">11</option>
                        <option value="11.5">11.5</option>
                        <option value="12">12</option>
                        <option value="12.5">12.5</option>
                        <option value="13">13</option>
                    </select>
                </div>

            </div>
            <br />
        </fieldset>
    </div>
    <div>
        <!--Slideshow-->
        <div id="highlighted-slider" class="container">
            <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
                <!--Slideshow content-->
                <!--Slide 1-->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6 item-caption">
                            <h2 class="h1 text-weight-light">
                                Добре дошли в <span class="text-primary">WheelsMarket.com</span>
                            </h2>
                            <h4>
                                Търсене на джанти
                            </h4>
                        </div>
                        <div class="col-md-6 col-md-pull-6 hidden-xs">
                            <img src="img/slides/slide1.png" alt="Slide 1" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
                <!--Slide 2-->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6 text-right-md item-caption">
                            <h2 class="h1 text-weight-light">
                                <span class="text-primary">Flexor</span> Bootstrap Theme
                            </h2>
                            <h4>
                                High quality, responsive theme!
                            </h4>
                            <p>Perfect for your App, Web service, company or portfolio! Magna tincidunt sociis ac integer amet non. Rhoncus augue? Tempor porttitor sed, aliquet phasellus a, nisi nunc aliquet nec rhoncus enim porttitor ultrices lacus tristique?</p>
                            <a href="https://bootstrapmade.com" class="btn btn-more btn-lg"><i class="fa fa-plus"></i> Learn More</a>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="img/slides/slide2.png" alt="Slide 2" class="center-block img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======== : #content ======== -->
<h3><a title="Wheel fitment and tire size guide and knowledge base" href="https://www.wheel-size.com">Wheel-Size.com</a></h3>

<div id="content" class="container" style="border-radius: 5px">
    <!-- Mission Statement -->
    <div class="mission text-center block block-pd-sm block-bg-noise" style="border-radius: 5px">
        <div class="container">
            <!-- The Link to Wheel-Size.com. It is required for free usage of services. Feel free to modify css styles if needed -->
        </div>
    </div>
    <!--Showcase-->
    <div class="showcase block block-border-bottom-grey">
        <div class="container">
            <h2 class="block-title">
                Нови Обяви
            </h2>
            <p>
                This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a
                sit amet mauris.
            </p>
            <div class="item-carousel" data-toggle="owlcarousel" data-owlcarousel-settings='{"items":6, "pagination":false, "navigation":true, "itemsScaleUp":true}'>
                @foreach (var ad in Model.Ads)
                {

                    <div class="item">
                        <a href="" class="overlay-wrapper">
                            <img src="@ad.MainPicture" alt="Project 1 image" class="img-responsive underlay">
                            <span class="overlay">
                                <span class="overlay-content"> <span class="h4">@ad.Title</span> </span>
                            </span>
                        </a>
                        <div class="item-details bg-noise">
                            <h4 class="item-title">
                                <a href="#">@ad.Title</a>
                            </h4>
                            <p>
                                jsdhgfsljdhg
                            </p>
                            <a asp-controller="Ad" asp-action="ById" asp-route-id="@ad.Id" class="btn btn-more"><i class="fa fa-plus"></i>Виж обявата</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Services -->
    <div class="services block block-bg-gradient block-border-bottom">
        <div class="container">
            <h2 class="block-title">
                Our Services
            </h2>
            <div class="row">
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="text-weight-strong">
                        User Experience / Information Architecture
                    </h4>
                    <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                    <p>
                        <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="text-weight-strong">
                        User Interface Design / User Interface Theming
                    </h4>
                    <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                    <p>
                        <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="text-weight-strong">
                        Code &amp; Development / Implementation Support
                    </h4>
                    <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
                    <p>
                        <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing -->
    <div class="block-contained">
        <h2 class="block-title">
            Our Plans
        </h2>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default panel-pricing text-center">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Flex<em>Starter</em>
                        </h4>
                    </div>
                    <div class="panel-pricing-price">$ <span class="digits">19.95</span> /mo.</div>
                    <div class="panel-body">
                        <ul class="list-dotted">
                            <li>3 User Accounts</li>
                            <li>3 Private Projects</li>
                            <li>Umlimited Projects</li>
                            <li>5GB of space</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-sm">Choose Plan</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default panel-pricing panel-pricing-highlighted text-center">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Team<em>Starter</em>
                        </h4>
                    </div>
                    <div class="panel-pricing-price">$ <span class="digits">49.95</span> /mo.</div>
                    <div class="panel-body">
                        <ul class="list-dotted">
                            <li>50 User Accounts</li>
                            <li>50 Private Projects</li>
                            <li>Umlimited Projects</li>
                            <li>Unlimited space</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-sm">Choose Plan</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="panel panel-default panel-pricing panel-pricing-highlighted text-center">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Enterprise
                            <span class="panel-pricing-popular"><i class="fa fa-thumbs-up"></i> Popular</span>
                        </h4>
                    </div>
                    <div class="panel-pricing-price">$ <span class="digits">199.95</span> /mo.</div>
                    <div class="panel-body">
                        <ul class="list-dotted">
                            <li>100 User Accounts</li>
                            <li>100 Private Projects</li>
                            <li>Umlimited Projects</li>
                            <li>Unlimited space</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-sm">Choose Plan</a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="panel panel-default panel-pricing text-center">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Corporate
                        </h4>
                    </div>
                    <div class="panel-pricing-price">$ <span class="digits">299.95</span> /mo.</div>
                    <div class="panel-body">
                        <ul class="list-dotted">
                            <li>1000 User Accounts</li>
                            <li>1000 Private Projects</li>
                            <li>Umlimited Projects</li>
                            <li>Unlimited space</li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-sm">Choose Plan</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    Background image callout with CSS overlay
    Usage: data-block-bg-img="IMAGE-URL" to apply a background image clearly via jQuery .block-bg-overlay = overlays the background image, colour is inherited from block-bg-* classes .block-bg-overlay-NUMBER = determines opcacity value of overlay from 1-9 (default is 5) ie. .block-bg-overlay-2 or .block-bg-overlay-6
    -->
    <div class="block block-pd-sm block-bg-grey-dark block-bg-overlay block-bg-overlay-6 text-center" data-block-bg-img="https://picjumbo.imgix.net/HNCK1088.jpg?q=40&amp;w=1650&amp;sharp=30" data-stellar-background-ratio="0.3">
        <h2 class="h-xlg h1 m-a-0">
            <span data-counter-up>100,000,0</span>s
        </h2>
        <h3 class="h-lg m-t-0 m-b-lg">
            Of Happy Customers!
        </h3>
        <p>
            <a href="#" class="btn btn-more btn-lg i-right">Join them today! <i class="fa fa-angle-right"></i></a>
        </p>
    </div>
    <!--Customer testimonial & Latest Blog posts-->
    <div class="testimonials block-contained">
        <div class="row">
            <!--Customer testimonial-->
            <div class="col-md-6 m-b-lg">
                <h3 class="block-title">
                    Testimonials
                </h3>
                <blockquote>
                    <p>Our productivity &amp; sales are up! Customers are happy &amp; we couldn't be happier with this product!</p>
                    <img src="img/misc/charles-quote.png" alt="Charles Spencer Chaplin">
                    <small>
                        <strong>Charles Chaplin</strong>
                        <br>
                        British comic actor
                    </small>
                </blockquote>
            </div>
            <!--Latest Blog posts-->
            <div class="col-md-6 blog-roll">
                <h3 class="block-title">
                    Latest From Our Blog
                </h3>
                <!-- Blog post 1-->
                <div class="media">
                    <div class="media-left hidden-xs">
                        <!-- Date desktop -->
                        <div class="date-wrapper"> <span class="date-m">Feb</span> <span class="date-d">01</span> </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#" class="text-weight-strong">amet urna integer urna enim, sit arcu pid in nec?</a>
                        </h4>
                        <!-- Meta details mobile -->
                        <ul class="list-inline meta text-muted visible-xs">
                            <li><i class="fa fa-calendar"></i> <span class="visible-md">Created:</span> Fri 1st Feb 2013</li>
                            <li><i class="fa fa-user"></i> <a href="#">Joe</a></li>
                        </ul>
                        <p>
                            Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.
                            <a href="#">Read more <i class="fa fa-angle-right"></i></a>
                        </p>
                    </div>
                </div>
                <!-- Blog post 2 -->
                <div class="media">
                    <div class="media-left hidden-xs">
                        <!-- Date desktop -->
                        <div class="date-wrapper"> <span class="date-m">Jan</span> <span class="date-d">17</span> </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#" class="text-weight-strong">a nec in sed hac ultrices cursus</a>
                        </h4>
                        <!-- Meta details mobile -->
                        <ul class="list-inline meta text-muted visible-xs">
                            <li><i class="fa fa-calendar"></i> <span class="visible-md">Created:</span> Thu 17th Jan 2013</li>
                            <li><i class="fa fa-user"></i> <a href="#">Joe</a></li>
                        </ul>
                        <p>
                            Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Aenean at massa leo. Vestibulum in varius arcu.
                            <a href="#">Read more <i class="fa fa-angle-right"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/stellar/stellar.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="contactform/contactform.js"></script>
<script src="//services.wheel-size.com/code/ws-widget.js"></script>

<script>
    var widget = WheelSizeWidgets.create('#wheel-size-widget', {
        uuid: '09eafd84867b4f948a5012453a5ec643',
        type: 'finder',
        width: '500'
    });
</script>

<!-- Template Specisifc Custom Javascript File -->
<script src="js/custom.js"></script>

<!--Custom scripts demo background & colour switcher - OPTIONAL -->
<script src="js/color-switcher.js"></script>

<!--Contactform script -->
<script src="contactform/contactform.js"></script>



