

<div class="row">
    <div class="col-md-5">
        <div id="wheel-size-widget">
        </div>
    </div>
    <div class="col-md-7">
        <div id="ws-widget-097908">
        </div>
    </div>
</div>

<script src="//services.wheel-size.com/code/ws-widget.js"></script>
<script>
    var widget = WheelSizeWidgets.create('#wheel-size-widget', {
        uuid: '09eafd84867b4f948a5012453a5ec643',
        type: 'finder',
    });
</script>
<script>
    var widget = WheelSizeWidgets.create('#ws-widget-097908', {
        uuid: '097908f6fa234c35918f01c96a262120',
        type: 'calc'
    });
</script>