/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
input[type=number] {
     -moz-appearance: textfield !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto /* Vertically center the text there */
}

#newAdButton {
    float: right;
}



/*style for search box*/
#searchButton {
    background-color: #4CAF50; /* Green */
    border: 3px;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: right;
}

    #searchButton:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

#main-menu > li:last-child {
    float: right;
}

#inch-selector {
    width: 60px;
}

#wheel-size-widget {
}

#search-form {
    width: auto;
}

#nav-menu {
    display: inline-block;
    margin-right: 0.5px;
    margin-top: 0.5px;
}

#log-out-button {
    margin-top: 8px;
    margin-left: 1px;
    margin-right: 3px;
}

#addNewAdParameters {
    color: antiquewhite;
}

#newAdButton {
    margin-right: 40px;
    margin-top: 15px;
}

.Titles {
    color: antiquewhite;
}
#CommentText {
    color: antiquewhite;
}

.frame {
    width: auto;
    height: auto;
}

#output {
    width: 100%;
    height: 100%;
}
.user_name {
    font-size: 14px;
    font-weight: bold;
}

.comments-list .media {
    border-bottom: 1px dotted #ccc;
}

body {
    padding-top: 30px;
}

.widget .panel-body {
    padding: 0px;
}

.widget .list-group {
    margin-bottom: 0;
}

.widget .panel-title {
    display: inline
}

.widget .label-info {
    float: right;
}

.widget li.list-group-item {
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.widget li.list-group-item:hover {
    background-color: rgba(86,61,124,.1);
}

.widget .mic-info {
    color: #666666;
    font-size: 11px;
}

.widget .action {
    margin-top: 5px;
}

.widget .comment-text {
    font-size: 12px;
}

.widget .btn-block {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#adParametersBox {
    width: 500px;
    height: 500px;
    padding-right: 50px;
    padding-left: 30px;
    padding-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: azure;
}
.single-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
}
.user_avatar {
    vertical-align:middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.user_image {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc
}
#tittles {
    color: antiquewhite;
}
hr.profileData {
    border: 1px solid antiquewhite;
}